#ravatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
h4{
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: rgb(64, 64, 191);
}
h6{
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: rgb(91, 85, 85);
    text-align: left;
}
#container{
    margin: auto;
    
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2,1fr);

}
#container2{
    margin: 10px;
    display: flex;
    height: 150px;
    padding: 50px 5px 0px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#rname{
    display: flex;
}

#repoh{
    margin-left: 3%;
}